<form method="GET" action="/search">
    <div class="form-group row">
        <label for="search">Search for a Marvel character: </label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Type in a name..." required>
    </div>

    <button type="submit" class="btn btn-primary row">Search</button>
</form>